/*POLICE-TEXT*/

body {
    font-family: 'Roboto', sans-serif;
    max-width: 768px;
}


/*FOND LOGO*/


/*Logosize*/
.Ohmyfood {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-top: 10px;
    margin-bottom: 15px;

}

/*contoure titre*/
.titlecontoure {
    width: 100%;
    height: 63px;
    background-color: white;
}


/*LOCALISATION*/


/*Fond localisation*/
.FondGrisClair {
    width:100%;
    height:50px;
    background-color: #d2d2d2;
}

.CentreText {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.PosiLoc {
    padding-right: 10px;
}

.ColorLoc {
    color: #323232;
}

/*TEXT-GRAS,TEXT-DECORATION*/


.TextBold {
    font-weight: 500;
    font-size: 16px;
}

.TextBold2 {
    font-weight: 700;
    font-size: 24px;
}

.TextBold3 {
    font-weight: 300;
    font-size: 18px;
}

.Textbold4 {
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.Textbold5 {
    font-weight: 300;
    font-size: 17px;
    color: black;
}

.TextBold6 {
    font-weight: 500;
    font-size: 18px;
}

.TextBold7 {
    font-weight: 300;
    font-size: 15px;
}

.NumbersBold {
    font-weight: 700;
    font-size: 15px;
}

.Textdeco {
    text-decoration:none;
}

/*RESERVATION*/


.Fondgris {
    display: flex;
    flex-direction: column;
    width :100%;
    padding-top: 5px;
    background-color: #EAEAEA;

}

.Titre1 {
    width:50%;
    margin:0 auto;
    text-align: center;
}

.Sous-titre2 {
    width: 50%;
    margin:0 auto;
    text-align: center;

}

/*Boutton-explorez*/
 .btn {


    border-radius: 30px;
    background:linear-gradient(#FF79DA , #9356DC );
    text-align: center;
    color:white;
    text-decoration: none;
    line-height: 25px;
    padding:15px 30px;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    transform: scale(1);
    transition-duration: 1200ms;

}
 
/*Animation btn Explorer*/
.btn:hover {
    transform: scale(1.15);
    box-shadow: 0 0 0 2px #FFFFFF;
}


/*FONCTIONNEMENT*/


.FondBlanc {
    display: flex;
    flex-direction: column;
    width:100%;
    height:540px;
}

/*POSITION BTN CHOIX*/
.ChoixFonct {
    display: flex;
    flex-direction: column;
    
}

/*fonctionnement position*/
.FonctPosi {
padding-top:30px;
padding-left:20px;
}

/*Bouton fonctionnement*/
.btnF {
    
    width:80%;
    height: 72px;
    border-radius: 20px;
    background-color: #f6f6f6;
    text-align:center;
    box-shadow: #EAEAEA 5px 5px 5px 1px;
    line-height: 65px;
    padding:15px 30px;
    margin:0 auto;
    color:black;
    text-decoration: none;
    margin-top: 10px;
    

}


/*Animation Logo btn Fonctio*/
.ColLog {
    transform:scale(1);
    transition-duration: 1000ms;
}
.ColLog:hover {
    transform: scale(1.15);
    color:#9356DC
}


/*entourage pastille numérotée fonctionnement*/
.badge1 {
    position:relative;

 }

.badge1[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:35px;
    left:-10px;
    font-size:.7em;
    background:#9356DC;
    color:white;
    width:28px;height:28px;
    text-align:center;
    line-height:25px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
    
 }

.EntPF2 {
    box-sizing: border-box;
    border-radius:20px;
    width: 24px;
    height: 24px;
    left:0px;
    top:0px;
    background-color: #9356DC;
    text-align: center;
    color:white;
}

/*margin bouton fonctionnement*/
.margBF {
    margin-top: 20px;
}
.margBF1 { 
    margin-bottom: 60px;
}


/*position logo menu*/
.PosiLogM {
    padding-right: 2px;
}


/*RESTAURANTS*/


/*separation logo ecriture*/
.PadecriREST {
padding-left: 15px;
}

.posiEcriLoG {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*positionHeart*/
.PosiHeart {
    padding-top:30px;
    padding-right: 25px;
    align-items:center;
    font-size: 30px;
}

/*Animation CSS Heart*/
.Heart {
    transform: scale(1);
    transition-duration: 1000ms;
    position: absolute;
    }
    .Heart:hover {
        transform: scale(1.30);
        color: #9356DC ;
    }

/*Animation CSS Coeur plein*/

.Heart-full {
    opacity: 0;
    position: relative;
    
    }
.Heart-full:hover {
        opacity:1;
        transform: scale(1);
        transition-duration: 1000ms;
        transform: scale(1.30);
        color: #9356DC ;
    }



.Restau {
    flex:1;
    padding:10px;
}

.PadResDEL {

    padding-bottom: 65px;
}

.FondBlancCubeR {
    width: 100%;
    background-color:#FFFF;
    padding: 0% 0 1% 0%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #F2F2F2 5px 5px 5px 1px;
    margin-bottom: 20px;
    }

    /*Underligne text restaurant*/
    .TextdecoR {
        text-decoration: none;
    }

    /*IMAGES RESTAURANTS*/

    .imgRestaurants1 {
        background-image: url("Images_et_textes_Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        width:100%;
        height:190px;
        background-size: cover;
        background-position: center;
        border-radius: 15px 15px 0 0;
    }

    .imgRestaurants2 {
        background-image: url("Images_et_textes_Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        width:100%;
        height:190px;
        background-size: cover;
        background-position: center;
        border-radius: 15px 15px 0 0;
    }

    .imgRestaurants3 {
        background-image: url("Images_et_textes_Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        width:100%;
        height:190px;
        background-size: cover;
        background-position: center;
        border-radius: 15px 15px 0 0;
    }

    .imgRestaurants4 {
        background-image: url("Images_et_textes_Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        width:100%;
        height:190px;
        background-size: cover;
        background-position: center;
        border-radius: 15px 15px 0 0;
    }

    
    /*FOOTER*/

    .FondN {
        width:100%;
        background-color: #353535;
    }

    /*couleur text*/

    .TextFC {
        color: white;
    }

    /*couleur logo footer*/
    .LogoColorOH {
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }
    
    /*padding footer*/
    .PadFooter {
        padding:10px;
        padding-left: 25px;
    }





    /*MENU LA PALETTE DU GOUT*/


/*image entête restaurant*/

.imgEntêteRestaurants {
    background-image: url("Images_et_textes_Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    width:100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 0 0;
    
}

/*FOND GRIS MENU*/


.FondgrisMenu {
    display: flex;
    flex-direction: column;
    width :100%;
    border-radius: 60px 60px 0 0;
    background-color: #F6F6F6;
    position:relative;
    bottom:47px;

}

.PosPriceM {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*text style*/
.textstylemenu {
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    color:black;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

/*style texte*/
.RobotoStyleMenu {
    font-weight: 300;
    font-size: 16px;
    }

/*underligne sous-titre menu*/
.underST {
text-decoration: underline solid 3px #99E2D0 ;


}


/*position entrée*/
.PosiEntréeM {
    padding-left: 20px; 
}


/*RECETTE*/

.btnF1 {
    
    width:80%;
    height: 72px;
    border-radius: 20px;
    background-color: white;
    text-align:start;
    box-shadow: #EAEAEA 5px 5px 5px 1px;
    line-height: 20px;
    padding:15px 30px;
    margin:0 auto;
    color:black;
    text-decoration: none;
    margin-top: 10px;

}





/*Margin changement de menu*/
.marginBM {
    margin-bottom: 40px;
}

/*BOUTON COMMANDER*/

.btn1 {


    border-radius: 30px;
    background:linear-gradient(#FF79DA , #9356DC );
    text-align: center;
    color:white;
    text-decoration: none;
    line-height: 25px;
    padding:15px 30px;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
   transform: scale(1);
   transition-duration: 1000ms;
}

/*Animation btn Commander*/
.btn1:hover {
    transform: scale(1.15);
    box-shadow: 0 0 0 2px #FFFFFF;
}


/*margin footer*/
.margFo {
    margin-top: 10px;
}


/*Footer*/
.FondN1 {
    width:100%;
    background-color: #353535;
    position: relative;
    bottom: 45px;
}

/*DESKTOP*/

@media screen and (min-width:768px ) and (max-width :1400px) { .flexAround {
    flex-direction: row;}

    body {
        font-family:'Roboto', sans-serif; 
        max-width: 1400px;}

/*Logosize*/
.Ohmyfood {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-top: 10px;
    margin-bottom: 15px;
    height:34px;
    
}

.flechePosi {
    right:-10px
}


        /*EXPLORER*/
        .Fondgris {
            display: flex;
            flex-direction: column;
            width :100%;
            padding-top: 5px;
            background-color: #EAEAEA;
            margin-bottom: 30px;
        }



        /*FONCTIONNEMENT*/


.FondBlanc {
    display: flex;
    flex-direction: column;
    width:100%;
    height:440px;
}

/*POSITION BTN CHOIX*/
.ChoixFonct {
    display: flex;
    flex-direction: row;
}

/*BTN*/
.btnF {
    
    width:80%;
    height: 72px;
    border-radius: 20px;
    background-color: #f6f6f6;
    text-align:center;
    box-shadow: #EAEAEA 5px 5px 5px 1px;
    line-height: 70px;
    padding:15px 30px;
    margin:0 auto;
    color:black;
    text-decoration: none;
    margin:15px;
    margin-top: 40px;
    

}

/*RESTAU*/

.Bloc1 {
    display: flex;
    flex-direction: row;
}

.Bloc2 {
    display: flex;
    flex-direction: row;
}
 
/*FOOTER*/

 .FondN {
    width:100%;
    height:114px;
    background-color: #353535;
 }

.PadFooter {
    display: flex;
    flex-direction: row;
    padding-left:10px;
}

.paddingF {
    display: flex;
    justify-content:right;
}

/*couleur logo footer*/
.LogoColorOH {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    
}

/*POSITION LOGO & FOOTER*/
.LogoSIZE {
   
    width:87px;
    padding-left: 80px;
    padding-top: 20px;
}

.Logoposireverse {
    
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    
}


.TextP {
    padding-left: 30px;
    padding-top: 20px;
}
  

/*MENU LA PALETTE DU GOUT*/


/*image entête restaurant*/

.imgEntêteRestaurants {
    background-image: url("Images_et_textes_Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    width:100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 0 0;
    
}

/*FOND GRIS MENU*/


.FondgrisMenu {
    display: flex;
    flex-direction: column;
    width :80%;
    border-radius: 60px 60px 0 0;
    background-color: #F6F6F6;
    position:relative;
    bottom:47px;
    margin-left: 110px;

}

/*RECETTE*/

.btnF1 {
    
    width:60%;
    height: 72px;
    border-radius: 20px;
    background-color: white;
    text-align:start;
    box-shadow: #EAEAEA 5px 5px 5px 1px;
    line-height: 20px;
    padding:15px 30px;
    margin:0 auto;
    color:black;
    text-decoration: none;
    margin-top: 10px;

}

/*position entrée*/
.PosiEntréeM {
    padding-left: 160px; 
}

/*BOUTON COMMANDER*/
.btn1 {

    width: 186px;
    border-radius: 30px;
    background:linear-gradient(#FF79DA , #9356DC );
    text-align: center;
    color:white;
    text-decoration: none;
    line-height: 25px;
    padding:15px 30px;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
   transform: scale(1);
   transition-duration: 1000ms;

}

}
